<h1 class="page-title">Suggestion Box</h1>
<hr>
<div class="list-item" ng-repeat="post in posts | orderBy: '-upvotes'">
    <h1>{{post.title}}</h1>
    <p>
        <span class="glyphicon glyphicon-plus-sign" ng-click="upVote($index)"></span>
        <span class="entry-subtext">Upvotes: {{ post.upvotes }} | <a href="#/posts/{{ post.id }}">Comments</a></span>
    </p>
</div>

<form ng-submit="addSuggestion()" style="margin-top: 50px">
    <h3>Submit your suggestion</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Great ideas here" ng-model="title"></input>
    </div>
    <button type="submit" class="btn btn-primary">Suggest</button>
</form>