<h1>{{ post.title }} </h1>

<div ng-repeat="x in post">
    <p>{{ x.body }}</p>
    
     <p>
        <span class="glyphicon glyphicon-plus-sign" ng-click="upVote($index)"></span>
         <span class="entry-subtext">Upvotes: {{ x.upvotes }}</span></p>
    
</div>

<form ng-submit="addComment()" style="margin-top: 50px">
    <h3>Submit your Comment</h3>
    <div class="form-group>">
        <input type="text" class="form-control" placeholder="Comment here" ng-model="comments"></input>
    </div>
    <button type="submit" class="btn btn-primary">Comment</button>

</form>